<!DOCTYPE HTML>
<html xmlns :th="http://www.thymeleaf.org">
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li.menu {
  display: inline;
}
</style>
<title>Meteo </title>
<div th:insert="~{fragment :: my-fragment1}"></div>
<meta http-equiv ="Content-Type" content ="text/html; charset=UTF-8" />
</head>
<body>
<ul th:each ="meteo: ${meteo}">
	<li th:text ="${meteo.currently.summary}" />
	<li th:text ="${meteo.currently.temperature}" />
</ul >
<ul th:each ="adresse: ${adresse}">
	<li th:text ="${adresse}" />

</ul >
<ul th:each ="ville: ${ville}">
	<li th:text ="${ville}" />

</ul >
</body>
</html>